<!DOCTYPE html>
<html lang="es">
   
<style>
   form {
     width: 450px;
   }
   label {
     display: inline-block;
     width: 240px;
     text-align: right;
     padding-right: 10px;
   }
   button {
     bottom: 0;
     position: relative;
     margin-top:20px;
   } 
   input {
     text-align: right;
     width: 200px;
   }
   footer {
      position: relative;
      bottom: 0;
      margin-top:100px;
      width: 100%;
   }
</style>

<head>
    <title>Random Numbers App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=500, initial-scale=1">
    <!--<script type="text/javascript" src="funciones.js"></script>
    <link href="styles.css" rel="stylesheet" type="text/css">-->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script>
      // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          console.log('Ya conectado');     
          document.getElementById('btn-sign-up').style.display = 'none';
          document.getElementById('btn-log-in').style.display = 'none';
          document.getElementById('btn-log-out').style.display = 'block';
          document.getElementById('bum').style.display = 'block';
          document.getElementById('bmd').style.display = 'block';
          document.getElementById('bgr').style.display = 'block';
          document.getElementById('aviso1').style.display = 'none';
          document.getElementById('aviso2').style.display = 'none';
          document.getElementById('aviso3').style.display = 'none';
          testAPI();
        } else {
         console.log('A conectarse!!!');
          // The person is not logged into your app or we are unable to tell.
          document.getElementById('status').innerHTML = 'Por favor haga Log in para disfrutar de la web.';
          document.getElementById('btn-log-out').style.display = 'none';
          document.getElementById('btn-sign-up').style.display = 'block';
          document.getElementById('btn-log-in').style.display = 'block'; 
          document.getElementById('bum').style.display = 'none';
          document.getElementById('bmd').style.display = 'none';
          document.getElementById('bgr').style.display = 'none';
          document.getElementById('aviso1').style.display = 'block';
          document.getElementById('aviso2').style.display = 'block';
          document.getElementById('aviso3').style.display = 'block';
          
        }
      }
    
      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }
    
      window.fbAsyncInit = function() {
      FB.init({
        appId      : '886609554837626',
        cookie     : true,  // enable cookies to allow the server to access 
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.8' // use graph api version 2.8
      });
    
      // Now that we've initialized the JavaScript SDK, we call 
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.
    
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
      FB.AppEvents.logPageView(); 
    
      };
    
      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    
      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
          document.getElementById('status').innerHTML =
            'Hola ' + response.name + '!  ^_^';
        });
      
      }
      function mysignout(){
         FB.logout(function(response)
         {
             console.log('Successful logout for: ' + response.name); 
             document.getElementById('status').innerHTML ='Logout realizado. \n Por favor haga Log in de nuevo para disfrutar de las herramienta de la web. '
             document.getElementById('btn-sign-up').style.display = 'block';
             document.getElementById('btn-log-in').style.display = 'block';
             document.getElementById('btn-log-out').style.display = 'none';
             document.getElementById('bum').style.display = 'none';
             document.getElementById('bmd').style.display = 'none';
             document.getElementById('bgr').style.display = 'none';
             document.getElementById('aviso1').style.display = 'block';
             document.getElementById('aviso2').style.display = 'block';
             document.getElementById('aviso3').style.display = 'block';
         });
      }
      
    </script>
</head>
 
<body style=background-color:#FFFFCC;>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">  Home  </a>
                    </li>
                    <li id="btn-sign-up" role="presentation"><a href="#">  Sign Up  </a>
                    </li>
                    <li id="btn-log-in" >
                    <!--Below we include the Login Button social plugin. This button uses
                     the JavaScript SDK to present a graphical Login button that triggers
                     the FB.login() function when clicked.-->
                        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                        </fb:login-button>
                    </li>
                    <li id="btn-log-out">
                      <a  onclick="mysignout();" href="/">Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="principal">
            <h3 class="text-muted">Random Numbers App</h3>
        </div>
        <div id="status">
        </div>
        <div style="text-align:center;padding:1em 0;"> 
            <h4>
               <a style="text-decoration:none;" href="https://www.zeitverschiebung.net/es/city/3117735"><span style="color:gray;">Hora actual en</span><br />Madrid, Spain</a>
            </h4> 
            <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=small&timezone=Europe%2FMadrid" width="100%" height="90" frameborder="0" seamless></iframe>
        </div>
       
        <center>
        <div id="row-umbral">
               <h4 class="text-muted">Valores umbrales </h4>
               <form method="post" action={{ url_for('result') }} >
                  <div>
                     <label for="umbsup">Umbral Superior:</label>
                     <input type="number" id="umbsup" name="umbsup" value="99" min="0" max="100"/>
                  </div>
                  <div>
                     <label for="umbinf">Umbral Inferior:</label>
                     <input type="number" id="umbinf" name="umbinf" value="0" min="0" max="100"/>
                  </div>
                  <div class="button">
                     <button id="bum" class="btn btn-lg btn-success" type="submit">Generar tabla</button>
                  </div>
                  <br>
                  <b><p id="aviso1">Necesario autenticacion</p></b>
               </form> 
        </div>
        <div id="row-media">
            <h4 class="text-muted">Obten la media del historico </h4>
            <form method="post" action={{ url_for('media') }} >
              {% if not medcal %}
                  <div>
                     <label for="media">Valor medio:</label>
                     <input type="text" id="media" name="media" value="0" readonly="readonly" />
                  </div>
                  <div>
                     <label for="bbdd">BBDD:</label>
                     <input type="text" id="bbdd" name="bbdd" value=" " readonly="readonly" />
                  </div>
               {% else %}
                  <div>
                     <label for="media">Valor medio:</label>
                     <input type="text" id="media" name="media" value={{media}} readonly="readonly" />
                  </div>
                  <div>
                     <label for="bbdd">BBDD:</label>
                     <input type="text" id="bbdd" name="bbdd" value={{bbdd}} readonly="readonly" />
                  </div>
               {% endif %}
               <div id="radio">
                  <input type="radio" name="tipomedia" value="1" checked>Altenativo
                  <input type="radio" name="tipomedia" value="2">MongoDB
                  <input type="radio" name="tipomedia" value="3">Beebotte
               </div>
               <div class="button">
                  <button id="bmd" class="btn btn-lg btn-success" type="submit" >Calcular Media</button>
               </div> 
               <br>
               <b><p id="aviso2">Necesario autenticacion</p></b>
            </form>
        </div>
        <div id="row-graph">
            <h4 class="text-muted"> Observa la grafica de recoleccion de datos </h4>
            <form method="post" action={{ url_for('grafica') }} >
               <div class="button">
                  <button id="bgr" class="btn btn-lg btn-success" type="submit">Graficas Beebotte</button>
               </div>
               <br>
               <b><p id="aviso3">Necesario autenticacion</p></b>
            </form>
        </div>
     </center>
     <footer class="footer">
         <p>&copy; Natalia de la Hoz Carracedo - Computacion en red - UAH 2017</p>
     </footer>
     
   </div>
</body>
 
</html>